body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-narrow {
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.schedule-top {
	background-color: #228B22;
	color: #fff;
	text-align: center;
		-moz-border-radius: 5px;
			border-radius: 5px;
}
.schedule-left{
		border-left-style: ridge;
}
.schedule-narrow {
    max-width: 600px;
    min-width: 450px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}
th.id {
	width: 50px;
}
th.info{
	width: 80px;
}
.title{
	font-size: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 7px;
}
.action{
	width: 72px;
}
button{
	background-repeat: no-repeat;
	background-position: center; 
}
button.edit{
	width: 26px;
	height: 26px;
	background-image: url("images/edit-icon.png");
}
button.add{
	width: 26px;
	height: 26px;
	background-image: url("images/add-icon.png");
	float: right;
}
button.delete{
	width: 26px;
	height: 26px;
	background-image: url("images/delete-icon.png");
	float: right;
}
.more{
	width: 26px;
	height: 26px;
	background-image: url("images/more-icon.png");
	background-color: buttonface;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: relative;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    width: 90%;
    position: absolute;
    padding: 15px;
    margin-left: 20px;
}

td.actions {
	width: 70px;
}
/* Sidebar Styles */

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #sidebar-wrapper {
        position: fixed;
        width: 200px;
        margin-left: -170px;
    }
}