<!DOCTYPE html>
<html>
<head th:include="fragments/head">
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<th:block th:if="${message != null}">
			<div
				th:replace="fragments/alert :: alert (type=success, message=${message})">&nbsp;</div>
		</th:block>
		<div class="row">
			<div class="col-md-6 malt">
				<div class="title">
					Słody
					<button data-type="malt" data-action="sources/saveMalt" type="button" class="add btn" data-toggle="modal" data-target="#editModal" />
				</div>
				<table class="table table-striped">
					<tr>
						<th class="id">ID</th>
						<th class="name">Nazwa</th>
						<th class="info">Color</th>
						<th class="description">Opis</th>
						<th class="action"></th>
					</tr>
					<tr th:each="malt: ${malts}">
						<td th:text="${malt.maltId}"></td>
						<td th:text="${malt.name}"></td>
						<td th:text="${malt.color}"></td>
						<td th:text="${malt.description}"></td>
						<td>
							<button th:attr="data-type='malt',data-action='sources/saveMalt',data-id=${malt.maltId},data-name=${malt.name},data-info=${malt.color}, data-description=${malt.description}"
								type="button" class="edit btn" data-toggle="modal"
								data-target="#editModal" />
							<button th:attr="data-action='sources/deleteMalt',data-id=${malt.maltId},data-name=${malt.name}"
								type="button" class="delete btn" data-toggle="modal"
								data-target="#deleteModal" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6 hop">
				<div class="title">
					Chmiele
					<button data-type="hop" data-action="sources/saveHop" type="button" class="add btn"
						data-toggle="modal" data-target="#editModal" />
				</div>
				<table class="table table-striped">
					<tr>
						<th class="id">ID</th>
						<th class="name">Nazwa</th>
						<th class="info">&alpha;-kwasy</th>
						<th class="description">Opis</th>
						<th class="action"></th>
					</tr>
					<tr th:each="hop: ${hops}">
						<td th:text="${hop.hopId}"></td>
						<td th:text="${hop.name}"></td>
						<td th:text="${hop.acid}"></td>
						<td th:text="${hop.description}"></td>
						<td>
							<button th:attr="data-type='hop',data-action='sources/saveHop',data-id=${hop.hopId},data-name=${hop.name},data-info=${hop.acid}, data-description=${hop.description}"
								type="button" class="edit btn" data-toggle="modal"
								data-target="#editModal" />
							<button th:attr="data-action='sources/deleteHop',data-id=${hop.hopId},data-name=${hop.name}"
								type="button" class="delete btn" data-toggle="modal"
								data-target="#deleteModal" />
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 addon">
				<div class="title">
					Dodatki
					<button data-type="addon" data-action="sources/saveAddon" type="button" class="add btn"
						data-toggle="modal" data-target="#editModal" />
				</div>
				<table class="table table-striped">
					<tr>
						<th class="id">ID</th>
						<th class="name">Nazwa</th>
						<th class="info">Cecha</th>
						<th class="description">Opis</th>
						<th class="action"></th>
					</tr>
					<tr th:each="addon: ${addons}">
						<td th:text="${addon.addonId}"></td>
						<td th:text="${addon.name}"></td>
						<td th:text="${addon.info}"></td>
						<td th:text="${addon.description}"></td>
						<td>
							<button th:attr="data-type='addon', data-action='sources/saveAddon',data-id=${addon.addonId},data-name=${addon.name},data-info=${addon.info}, data-description=${addon.description}"
								type="button" class="edit btn" data-toggle="modal"
								data-target="#editModal" />
							<button th:attr="data-action='sources/deleteAddon',data-id=${addon.addonId},data-name=${addon.name}"
								type="button" class="delete btn" data-toggle="modal"
								data-target="#deleteModal" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6 break">
				<div class="title">
					Przerwy
					<button data-type="break" data-action="sources/saveBreak" type="button" class="add btn"
						data-toggle="modal" data-target="#editModal" />
				</div>
				<table class="table table-striped">
					<tr>
						<th class="id">ID</th>
						<th class="name">Nazwa</th>
						<th class="temp_low">Temp dolna</th>
						<th class="temp_high">Temp gorna</th>
						<th class="description">Opis</th>
						<th class="action"></th>
					</tr>
					<tr th:each="break: ${breaks}">
						<td th:text="${break.breakId}"></td>
						<td th:text="${break.name}"></td>
						<td th:text="${break.temp_low}"></td>
						<td th:text="${break.temp_high}"></td>
						<td th:text="${break.description}"></td>
						<td>
							<button th:attr="data-type='break',data-action='sources/saveBreak',data-id=${break.breakId},data-name=${break.name},data-templow=${break.temp_low},data-temphigh=${break.temp_high}, data-description=${break.description}"
								type="button" class="edit btn" data-toggle="modal"
								data-target="#editModal" />
							<button	th:attr="data-action='sources/deleteBreak',data-id=${break.breakId},data-name=${break.name}"
								type="button" class="delete btn" data-toggle="modal"
								data-target="#deleteModal" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments/modals"> </div>
</body>
</html>