<!DOCTYPE html>
<html>
<head th:include="fragments/head">
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<th:block th:if="${message != null}">
			<div
				th:replace="fragments/alert :: alert (type=success, message=${message})">&nbsp;</div>
		</th:block>
		<div class="row">
			<div class="col-md-6 malt">
				<div class="title">
					Słody
					<button data-type="malt" type="button" class="add btn"
						data-toggle="modal" data-target="#editModal" />
				</div>
				<table class="table table-striped">
					<tr>
						<th class="id">ID</th>
						<th class="name">Nazwa</th>
						<th class="info">Color</th>
						<th class="description">Opis</th>
						<th class="action"></th>
					</tr>
					<tr th:each="malt: ${malts}">
						<td th:text="${malt.id}"></td>
						<td th:text="${malt.name}"></td>
						<td th:text="${malt.color}"></td>
						<td th:text="${malt.description}"></td>
						<td>
							<button data-type="malt"
								th:attr="data-id=${malt.id},data-name=${malt.name},data-info=${malt.color}, data-description=${malt.description}"
								type="button" class="edit btn" data-toggle="modal"
								data-target="#editModal" />
							<button data-type="malt"
								th:attr="data-id=${malt.id},data-name=${malt.name}"
								type="button" class="delete btn" data-toggle="modal"
								data-target="#deleteModal" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6 hop">
				<div class="title">
					Chmiele
					<button data-type="hop" type="button" class="add btn"
						data-toggle="modal" data-target="#editModal" />
				</div>
				<table class="table table-striped">
					<tr>
						<th class="id">ID</th>
						<th class="name">Nazwa</th>
						<th class="info">&alpha;-kwasy</th>
						<th class="description">Opis</th>
						<th class="action"></th>
					</tr>
					<tr th:each="hop: ${hops}">
						<td th:text="${hop.id}"></td>
						<td th:text="${hop.name}"></td>
						<td th:text="${hop.acid}"></td>
						<td th:text="${hop.description}"></td>
						<td>
							<button data-type="hop"
								th:attr="data-id=${hop.id},data-name=${hop.name},data-info=${hop.acid}, data-description=${hop.description}"
								type="button" class="edit btn" data-toggle="modal"
								data-target="#editModal" />
							<button data-type="hop"
								th:attr="data-id=${hop.id},data-name=${hop.name}" type="button"
								class="delete btn" data-toggle="modal"
								data-target="#deleteModal" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-md-6 addon">
				<div class="title">
					Dodatki
					<button data-type="addon" type="button" class="add btn"
						data-toggle="modal" data-target="#editModal" />
				</div>
				<table class="table table-striped">
					<tr>
						<th class="id">ID</th>
						<th class="name">Nazwa</th>
						<th class="info">Cecha</th>
						<th class="description">Opis</th>
						<th class="action"></th>
					</tr>
					<tr th:each="addon: ${addons}">
						<td th:text="${addon.id}"></td>
						<td th:text="${addon.name}"></td>
						<td th:text="${addon.info}"></td>
						<td th:text="${addon.description}"></td>
						<td>
							<button data-type="addon"
								th:attr="data-id=${addon.id},data-name=${addon.name},data-info=${addon.info}, data-description=${addon.description}"
								type="button" class="edit btn" data-toggle="modal"
								data-target="#editModal" />
								<button data-type="addon"	th:attr="data-id=${addon.id},data-name=${addon.name}" type="button" class="delete btn" data-toggle="modal"	data-target="#deleteModal" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- Add Modal -->
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Edytuj</h4>
				</div>
				<div class="edit-modal-body modal-body">
					<form>
						<input type="hidden" value="" id="id" /> <input type="hidden"
							value="" id="type" />
						<div class="form-group">
							<label for="name" class="control-label">Nazwa:</label> <input
								type="text" class="form-control" id="name" />
						</div>
						<div class="form-group">
							<label for="info" class="control-label">Informacja
								dodatkowa:</label> <input type="text" class="form-control" id="info" />
						</div>
						<div class="form-group">
							<label for="message-text" class="control-label">Opis:</label>
							<textarea class="form-control" id="description"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
					<button type="button" class="btn btn-primary" id="save"
						onClick="saveSources()">Zapisz</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Usuń!</h4>
				</div>
				<div class="delete-modal-body modal-body">
					<input type="hidden" value="" id="id" /> <input type="hidden"
						value="" id="type" /> Czy na pewno chcesz usunąć: <span id="name"></span>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Nie</button>
					<button type="button" class="btn btn-primary" id="delete"
						onClick="deleteSources()">Tak</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>