<!DOCTYPE html>
<html>
<head th:include="fragments/head">
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div th:replace="fragments/alert :: alert (type=success, message=${message})">&nbsp;</div>
		</th:block>
		<div class="row">
			<div class="brews">
				<div class="title">
					Warki
					<button data-type="brew" data-action="brews/saveBrew" type="button" class="add btn"
						data-toggle="modal" data-target="#editModal" />
				</div>
				<table class="table table-striped">
					<tr>
						<th class="id col-sm-1">ID</th>
						<th class="name col-sm-2">Nazwa</th>
						<th class="type col-sm-1">Typ</th>
						<th class="ibu col-sm-1">IBU</th>
						<th class="color col-sm-1">Kolor</th>
						<th class="description col-sm-5">Opis</th>
						<th class="actions col-sm-1"></th>
					</tr>
					<tr th:each="brew: ${brews}" >
						<td ><a th:href="@{/brews/details(id=${brew.brewingId})}" class="more btn"> </a> <span th:text="${brew.brewingId}" ></span></td>
						<td th:text="${brew.name}"></td>
						<td th:text="${brew.type}"></td>
						<td th:text="${brew.ibu}"></td>
						<td th:text="${brew.color}"></td>
						<td th:text="${brew.description}"></td>
						<td class="actions" >
							<button data-type="brew"
								th:attr="data-action='brews/saveBrew',data-id=${brew.brewingId},data-name=${brew.name},data-brewtype=${brew.type}, data-description=${brew.description}"
								type="button" class="edit btn" data-toggle="modal"
								data-target="#editModal" />
							<button data-type="brew"
								th:attr="data-action='brews/deleteBrew',data-id=${brew.brewingId},data-name=${brew.name}"
								type="button" class="delete btn" data-toggle="modal"
								data-target="#deleteModal" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- Modals -->
	<div th:replace="fragments/modals">
		
	</div>
</body>
</html>
