<!DOCTYPE html>
<html>
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div th:replace="fragments/alert :: alert (type=success, message=${message})">&nbsp;</div>
		</th:block>
		<th:block th:if="${allert != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div th:replace="fragments/alert :: alert (type=danger, message=${allert})">&nbsp;</div>
		</th:block>
		<form action="adc" th:action="@{/adc}" th:object="${adcForm}" method="post">
			Ilosc probek do zebrania: <input type="text" id="bytesNumber" name="bytesNumber" th:object="${adcForm.bytesNumber}" th:value="512" /> <br />
			Port komunikacji szeregowej: <select id="portName" name="portName" th:object="${adcForm.portName}">
					<option th:each="port : ${avaiblePorts}" th:value="${port}"	th:text="${port}">portName</option>
			</select> <br />
			<input class="btn btn-info" type="submit" value="Rozpocznij pomiar" />
		</form>
	</div>
</body>
</html>