<!DOCTYPE html>
<html>
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div th:replace="fragments/alert :: alert (type=success, message=${message})">&nbsp;</div>
		</th:block>
		<th:block th:if="${allert != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div th:replace="fragments/alert :: alert (type=danger, message=${allert})">&nbsp;</div>
		</th:block>
		<form action="settings" th:action="@{/settings}" th:object="${settingsForm}" method="post">
		<table class="table table-condensed">
		    <thead>
		      <tr>
		        <th>Ustawienie</th>
		        <th>Aktualna wartość</th>
		        <th>Nowa wartość</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>Port czujnika temperatury</td>
		        <td id="temperaturePortName" th:text="${settingsForm.temperaturePortName}"></td>
		        <td>
			        <select id="temperaturePortName" th:object="${settingsForm.temperaturePortName}">
						<option th:each="port : ${avaiblePorts}" th:value="${port}"	th:text="${port}" th:selected="${port == settingsForm.temperaturePortName}"></option>
					</select>
				</td>
		      </tr>
		      <tr>
		        <td>Pin sterowania grzałką - 1 </td>
		        <td id="firstHeaterPin" th:text="${settingsForm.firstHeaterPin}"></td>
		        <td>
			        <select id="firstHeaterPin" th:object="${settingsForm.firstHeaterPin}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.firstHeaterPin.pinID}"></option>
					</select>
				</td>
		      </tr>
		    </tbody>
		  </table>
		<input class="btn btn-success" type="submit" value="Zapisz"/>
		</form>
	</div>
</body>
</html>