<!DOCTYPE html>
<html>
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="container">
		<!-- /* Handle the flash message */-->
		<th:block th:if="${message != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div th:replace="fragments/alert :: alert (type=success, message=${message})">&nbsp;</div>
		</th:block>
		<th:block th:if="${allert != null}">
			<!-- /* The message code is returned from the @Controller */ -->
			<div th:replace="fragments/alert :: alert (type=danger, message=${allert})">&nbsp;</div>
		</th:block>
		<form action="settings" th:action="@{/settings}" th:object="${settingsForm}" method="post">
		<table class="table table-condensed">
		    <thead>
		      <tr>
		        <th>Ustawienie</th>
		        <th>Aktualna wartość</th>
		        <th>Nowa wartość</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr class="success"><td colspan="3">Sterowanie temperaturą</td></tr>
		      <tr>
		        <td>Port czujnika temperatury</td>
		        <td id="temperaturePortName"  th:text="${settingsForm.temperaturePortName}"></td>
		        <td>
			        <select id="temperaturePortName" name="temperaturePortName" th:object="${settingsForm.temperaturePortName}">
						<option th:each="port : ${avaiblePorts}" th:value="${port}" th:text="${port}" th:selected="${port == settingsForm.temperaturePortName}"></option>
					</select>
				</td>
		      </tr>
		      <tr>
		        <td>Pin sterowania grzałką - 1 </td>
		        <td id="firstHeaterPin" th:text="${settingsForm.firstHeaterPin}"></td>
		        <td>
			        <select id="firstHeaterPin" name="firstHeaterPin" th:object="${settingsForm.firstHeaterPin}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.firstHeaterPin}"></option>
					</select>
				</td>
		      </tr>
		      
		      <tr>
		        <td>Pin sterowania grzałką - 2 </td>
		        <td id="secondHeaterPin" th:text="${settingsForm.secondHeaterPin}"></td>
		        <td>
			        <select id="secondHeaterPin" name="secondHeaterPin" th:object="${settingsForm.secondHeaterPin}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.secondHeaterPin}"></option>
					</select>
				</td>
		      </tr>
		       <tr class="success"><td colspan="3">Sterowanie hydrauliką</td></tr>
			  <tr>
		        <td>Pin sterowania głównym zaworem</td>
		        <td id="mainValvePin" th:text="${settingsForm.mainValvePin}"></td>
		        <td>
			        <select id="mainValvePin" name="mainValvePin" th:object="${settingsForm.mainValvePin}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.mainValvePin}"></option>
					</select>
				</td>
		      </tr>	      

			  <tr>
		        <td>Pin sterowania zaworem wysładzania</td>
		        <td id="cleanWaterValvePin" th:text="${settingsForm.cleanWaterValvePin}"></td>
		        <td>
			        <select id="cleanWaterValvePin" name="cleanWaterValvePin" th:object="${settingsForm.cleanWaterValvePin}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.cleanWaterValvePin}"></option>
					</select>
				</td>
		      </tr>	
	
			  <tr>
		        <td>Pin sterowania zaworem bieżącej wody</td>
		        <td id="runningWaterValvePin" th:text="${settingsForm.runningWaterValvePin}"></td>
		        <td>
			        <select id="runningWaterValvePin" name="runningWaterValvePin" th:object="${settingsForm.runningWaterValvePin}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.runningWaterValvePin}"></option>
					</select>
				</td>
		      </tr>		
		      
			  <tr>
		        <td>Pin sterowania zaworem wychmielonej brzeczki</td>
		        <td id="wortValvePin" th:text="${settingsForm.wortValvePin}"></td>
		        <td>
			        <select id="wortValvePin" name="wortValvePin" th:object="${settingsForm.wortValvePin}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.wortValvePin}"></option>
					</select>
				</td>
		      </tr>		
		      
		      <tr>
		        <td>Pin sterowania pompą przefiltrowanej brzeczki</td>
		        <td id="wortPompPin" th:text="${settingsForm.wortPompPin}"></td>
		        <td>
			        <select id="wortPompPin" name="wortPompPin" th:object="${settingsForm.wortPompPin}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.wortPompPin}"></option>
					</select>
				</td>
		      </tr>		    
		      <tr class="success"><td colspan="3">Odczyt poziomy cieczy w kadzi zaciernoważelnej</td></tr>
		      <tr>
		        <td>Pin mieżący poziom brzeczki - 1</td>
		        <td id="firstMainCapacityLevel" th:text="${settingsForm.firstMainCapacityLevel}"></td>
		        <td>
			        <select id="firstMainCapacityLevel" name="firstMainCapacityLevel" th:object="${settingsForm.firstMainCapacityLevel}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.firstMainCapacityLevel}"></option>
					</select>
				</td>
		      </tr>	
		      <tr>
		        <td>Pin mieżący poziom brzeczki - 2</td>
		        <td id="secondMainCapacityLevel" th:text="${settingsForm.secondMainCapacityLevel}"></td>
		        <td>
			        <select id="secondMainCapacityLevel" name="secondMainCapacityLevel" th:object="${settingsForm.secondMainCapacityLevel}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.secondMainCapacityLevel}"></option>
					</select>
				</td>
		      </tr>		
		      <tr>
		        <td>Pin mieżący poziom brzeczki - 3</td>
		        <td id="thirdMainCapacityLevel" th:text="${settingsForm.thirdMainCapacityLevel}"></td>
		        <td>
			        <select id="thirdMainCapacityLevel" name="thirdMainCapacityLevel" th:object="${settingsForm.thirdMainCapacityLevel}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.thirdMainCapacityLevel}"></option>
					</select>
				</td>
		      </tr>	
		      <tr>
		        <td>Pin mieżący poziom brzeczki - 4</td>
		        <td id="fourthMainCapacityLevel" th:text="${settingsForm.fourthMainCapacityLevel}"></td>
		        <td>
			        <select id="fourthMainCapacityLevel" name="fourthMainCapacityLevel" th:object="${settingsForm.fourthMainCapacityLevel}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.fourthMainCapacityLevel}"></option>
					</select>
				</td>
		      </tr>		   
		      <tr class="success"><td colspan="3">Odczyt poziomy cieczy w kadzi z filtratem</td></tr>  
		      <tr>
		        <td>Pin mieżący poziom filtratu - 1</td>
		        <td id="firstCleanCapacityLevel" th:text="${settingsForm.firstCleanCapacityLevel}"></td>
		        <td>
			        <select id="firstCleanCapacityLevel" name="firstCleanCapacityLevel" th:object="${settingsForm.firstCleanCapacityLevel}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.firstCleanCapacityLevel}"></option>
					</select>
				</td>
		      </tr>	
		      <tr>
		        <td>Pin mieżący poziom filtratu - 2</td>
		        <td id="secondCleanCapacityLevel" th:text="${settingsForm.secondCleanCapacityLevel}"></td>
		        <td>
			        <select id="secondCleanCapacityLevel" name="secondCleanCapacityLevel" th:object="${settingsForm.secondCleanCapacityLevel}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.secondCleanCapacityLevel}"></option>
					</select>
				</td>
		      </tr>	 		      
		      <tr>
		        <td>Pin mieżący poziom filtratu - 3</td>
		        <td id="thirdCleanCapacityLevel" th:text="${settingsForm.thirdCleanCapacityLevel}"></td>
		        <td>
			        <select id="thirdCleanCapacityLevel" name="thirdCleanCapacityLevel" th:object="${settingsForm.thirdCleanCapacityLevel}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.thirdCleanCapacityLevel}"></option>
					</select>
				</td>
		      </tr>	 
		      <tr>
		        <td>Pin mieżący poziom filtratu - 4</td>
		        <td id="fourthCleanCapacityLevel" th:text="${settingsForm.fourthCleanCapacityLevel}"></td>
		        <td>
			        <select id="fourthCleanCapacityLevel" name="fourthCleanCapacityLevel" th:object="${settingsForm.fourthCleanCapacityLevel}">
						<option th:each="pin : ${pins}" th:value="${pin.pinID}"	th:text="${pin.pinID}" th:selected="${pin.pinID == settingsForm.fourthCleanCapacityLevel}"></option>
					</select>
				</td>
		      </tr>	
		      <tr>
		      	<td colspan="2" style="text-align: right; padding-right: 20px;">
		      		<input class="btn btn-danger" type="reset" value="Odrzuć" />
		      	</td>
		      	<td>
		      		<input class="btn btn-success" type="submit" value="Zapisz"/>
		      	</td>
		     </tr>  	        		      
		    </tbody>
		  </table>

		</form>
	</div>
</body>
</html>
