<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/Chart.min.js" th:src="@{/resources/js/Chart.min.js}"></script>
<script type="text/javascript">
function togglePin(_pinID) {
    $.ajax({
      url: 'togglePin',
      type: 'POST',
      data: ({pinID : _pinID}),
      success: function(data) {
      	$("td#value_"+_pinID).text(data);
        if(data == true){
        	$("button#"+_pinID).attr("class", "btn btn-danger").text("Wyłącz");
        }
        else {
        	$("button#"+_pinID).attr("class", "btn btn-success").text("Włącz");
        }
      }
    });
  }
</script>
<script type="text/javascript">
$(document).ready(
	function(){
		$("a[href='"+window.location.pathname+"']").parent().attr("class","active");
		$('#editModal').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget);
			  var id = button.data('id');
			  var name = button.data('name');
			  var info = button.data('info');
			  var description = button.data('description');
			  var type = button.data('type');
			  var modal = $(this);
			  modal.find('.modal-title').text('Edytujesz -' + name);
			  modal.find('.modal-body input#id').val(id);
			  modal.find('.modal-body input#name').val(name);
			  modal.find('.modal-body input#info').val(info);
			  modal.find('.modal-body input#type').val(type);
			  modal.find('.modal-body textarea#description').text(description);
			});
		$('#deleteModal').on('show.bs.modal', function (event) {
			  var button = $(event.relatedTarget);
			  var id = button.data('id');
			  var name = button.data('name');
			  var type = button.data('type');
			  var modal = $(this);
			  modal.find('.modal-title').text('Usuń -' + name);
			  modal.find('.modal-body input#id').val(id);
			  modal.find('.modal-body input#type').val(type);
			  modal.find('span#name').text(name);
			})
	}
)
</script>
<script type="text/javascript">
function saveSources(){
		var _id = $('.edit-modal-body input#id').val();
		var _name = $('.edit-modal-body input#name').val();
		var _info = $('.edit-modal-body input#info').val();
		var _description = $('.edit-modal-body textarea#description').val();
		var _type = $('.edit-modal-body input#type').val();
		var _url="";
		switch(_type){
		case "malt":
			_url = "sources/saveMalt";
			break;
		case "hop":
			_url = "sources/saveHop";
			break;
		case "addon":
			_url= "sources/saveAddon";
		}
		$.ajax({
		      url: _url,
		      type: 'POST',
		      data: ({id : _id, name : _name, info : _info, description : _description }),
		      success: function(data) {
		    	  $('#editModal').modal('hide');
		    	  location.reload();
		      }
		    });
	}
	function deleteSources(){
		var _id = $('.delete-modal-body input#id').val();
		var _type = $('.delete-modal-body input#type').val();
		var _url="";
		switch(_type){
		case "malt":
			_url = "sources/deleteMalt";
			break;
		case "hop":
			_url = "sources/deleteHop";
			break;
		case "addon":
			_url= "sources/deleteAddon";
		}
		$.ajax({
		      url: _url,
		      type: 'POST',
		      data: ({id : _id}),
		      success: function(data) {
		    	  $('#editModal').modal('hide');
		    	  location.reload();
		      }
		    });
	}
</script>